---
name: Molecule CI/CD
"on":
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    ignore-tags:
      - "*"
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scenario:
          - default
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2.3.4

      - name: Set up Python 3
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.x

      - name: Install Molecule dependencies
        run: pip3 install -r .github/workflows/requirements/requirements_molecule.txt

      - name: Install Ansible base dependencies
        run: ansible-galaxy install -r .github/workflows/requirements/requirements_ansible.yml

      - name: Run Molecule tests
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
